<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profilee</title>

</head>
<body>
        <h1>ProfileStreamer</h1>
        <center><h2>{{ name.username }}</h2></center>

            {% for i in streamer %}
                <li>
                    <h2>{{i.name}}</h2>
                    <h2>{{i.urltwitch}}</h2>
                    <img src="{{i.photo.url}}" width="100" height="100">
                    <button><a href="{% url 'myshopp' %}">мой магазин</a></button></p>
                </li>
            {% endfor %}
            <h2>Покупки в моем магазине</h2>
            {% for b in buy %}
                <li>
                    <h2>{{b.user.user.username}}</h2>
                    <h2>{{b.user.telegramm}}</h2>
                    <h2>{{b.product.nameproduct}}</h2>
                    <img src ="{{b.product.photoproduct.url}}" width="100" height="100">
                    <h2>{{b.product.price}}</h2>
                </li>


            {% endfor %}
</body>
</html>