<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин текущего стирмера стримера</title>

</head>
<body>
   <h1>магазин текущего стримра</h1>
        <center><h2>{{ stream_name }}</h2></center>
        <button><a href="{% url 'addproduct' %}">добавить товар</a></button></p>
            {% for i in product %}
                <li>
                    <h2>{{i.nameproduct}}</h2>
                    <h2>{{i.price}}</h2>
                    <img src="{{i.photoproduct.url}}" width="100" height="100">
                    <button><a href="myshop/delete/{{i.id}}">удалить товар</a></button></p>
                </li>
            {% endfor %}
</body>
</html>