{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Магазин стримеров</title>
    <link rel="stylesheet" href="{% static 'shop/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
</head>

<body>

    <header class="header streamers-header">
        <div class="header-info">
            <div class="logo">
                <img src="{% static 'main/imgs/logo.png' %}">
            </div>
            <div class="title">
                <h1>STREAM POINTS</h1>
                <p>Магазины ваших любимых стримеров</p>
            </div>

            <ul class="header-navbar">
                 <a href="/">Главная</a>
                <a href="{% url 'Shop' %}">магазин</a>
                <a href="{% url 'Allstream' %}">стримеры</a>
            </ul>
        </div>

        <div class="profile">
            <div class="profile-icon">
                <img src="{% static 'streamers/img/zloy.png' %}">
            </div>
            <div class="profile-info">
                <div class="profile-signout">
                    <img src="{% static 'streamers/img/out.png' %}">
                </div>
                <div class="profile-name">
                    <p>Asd</p>
                </div>
                <div class="profile-cart">
                    <a href="ya.ru"></a>
                </div>
            </div>
        </div>
    </header>


    <main class="main">
        <div class="profile-statics shop-streamer">
            <div class="profile-statics-icon">
                <img src="{{streamer.photo.url}}">
                <div class="profile-statics-details">
                    <div class="name-coins">
                        <h3>{{ streamer.name }}</h3>
                        <p>{{points.points}}</p>
                    </div>
                    <div class="role">
                        <p>СТРИМЕР ПЛАТФОРМЫ</p>
                    </div>
                </div>
            </div>

            <div class="profile-settings">
                <div class="full">
                    <img src="{% static 'lkusers/imgs/full.png' %}">
                </div>
            </div>
        </div>

        <div class="goods-list">
            {% for i in product %}
              <div class="good">
                <div class="good-info">
                    <img src="{{i.photoproduct.url}}">
                    <div class="shop-coins">
                        <p class="shop-price">{{i.price}}</p>
                        <img src="{% static 'shop/imgs/logo.png' %}" class="coin">
                    </div>
                    <button class="btn-buy">Купить</button>
                    <!-- <div class="popup">
                        <h1>Good</h1>
                        <p>123412</p>
                    </div> -->
                </div>
              </div>
            {% endfor %}
        </div>

        
        <footer class="footer">
            <img src="{% static 'main/imgs/hive.png' %}">
        </footer>
    </main>
    <script src="{% static 'shop/js/shop.js' %}"></script>
    <!-- <p><center><h1>Магазин</h1></center></p> 
       <h2>{{ points }}</h2>
     <h2>{{points.points}}</h2>
    <center><h2>{{ streamer.name }}</h2></center>
    <center><img src="{{streamer.photo.url}}" width="200" height="180"></center>
    <ul class="hr">
        {% for i in product %}
        <li>
            <h2>{{i.nameproduct}}</h2>
            <img src="{{i.photoproduct.url}}" width="100" height="100">
            <h2>{{i.price}}</h2>
            <button><a href="buy/{{i.id}}">Купить</a></button></p>
        </li>
        {% endfor %}
    </ul> -->
</body>

</html>