<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Магазин стримеров</title>
</head>



<style>
       ul.hr {
        /* Обнуляем значение отступов и полей */
        margin: 0; padding: 0;
       }
       ul.hr li {
        display: inline-block; /* Строчно-блочный элемент */
        border: 1px solid #000; /* Рамка вокруг текста */
        padding: 3px; /* Поля вокруг текста */
       }
</style>

<body>
    <center><h1>Магазин</h1></center>
    <ul class="hr">
        {% for i in product %}
        <li>
            <h2>{{i.nameproduct}}</h2>
            <img src="{{i.photoproduct.url}}" width="100" height="100">
            <h2>{{i.price}}</h2>
        </li>
        {% endfor %}
    </ul>
</body>
</html>