<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <style>
        .point{
            border-top: 4px solid #648880;
            padding: 40px 0 22px 0;
            float: left;
        }
       ul.hr {
        /* Обнуляем значение отступов и полей */
        margin: 0; padding: 0;
       }
       ul.hr li {
        display: inline-block; /* Строчно-блочный элемент */
        border: 1px solid #000; /* Рамка вокруг текста */
        padding: 3px; /* Поля вокруг текста */
       }
    </style>
</head>
<body>
    {%if name.user.username == name.user.username %}
        <h1>Profile</h
        <center><h2>{{ name.user.username }}</h2></center>
        <ul class="hr">
            {% for i in streamers %}
            <li>
                <h2>{{i.streamers.name}}</h2>
                <h2>{{i.streamers.urltwitch}}</h2>
                <img src="{{i.streamers.photo.url}}" width="100" height="100">
                <h2>{{i.points}}</h2>
                <button><a href="/">Купить</a></button></p>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>